 
        .grid-container { 
            display: grid;
            flex:1;
            grid-template-columns: repeat(1, 1fr); /* 3 columnas con igual ancho */
            grid-template-rows: repeat(2, 25rem); /* 2 filas con altura fija de 100px */
            gap: 10px; /* Espacio entre las celdas de la grilla */
            height: 85vh; /* Ocupa toda la altura de la pantalla */
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
        }
        .fondoContainer{
            background: linear-gradient(163.28deg, rgba(206, 225, 236, 0.96) 2.17%, rgba(219, 83, 255, 0.96) 96.14%);
            border-radius: 1em;
        }
        .grid-item {
            color: white;
            text-align: center;
            display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
            padding: 1em;
        }
