.marcoFondo{
    align-content: center;
    text-align: center;
    position:relative;
    width: 360px;
    height: 640px;
   background: linear-gradient(163.28deg, rgba(206, 225, 236, 0.96) 2.17%, rgba(219, 83, 255, 0.96) 96.14%);
    border-radius: 24px;
}