/*.landingPage-ingreso{
    background: linear-gradient(92.33deg, #0D64E8 11.92%, rgba(28, 188, 178, 0.77) 83.97%);
    border: 0.5rem solid #2D107E;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 700;
    font-size: 5vmin; /* Usando vmin para el tamaño de fuente 
    line-height: 1vmin; /* Usando vmin para la altura de línea 
    max-width: 90%;
    max-height: 3em; /* Altura máxima 
    border-radius: 2rem;
    margin: 1em auto 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
*/

.buttonsHome{

       
    width: 62vmin;
    height: 12vmin;

    
    background: linear-gradient(92.33deg, #0D64E8 11.92%, rgba(28, 188, 178, 0.77) 83.97%);
    border: 4px solid #2D107E;
    border-radius: 23px;
     
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 700;
    font-size: 5vmin;
    line-height: 10vmin;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
    margin:0 auto;
      
}

.buttonsHome:hover{
    background: #0DE8A6;;
    color: var(--color-bg);
  
  }

  @media (max-width: 768px) {
    .buttonsHome {
        font-size: 5vmin;
        line-height: 2vmin;
        /* Cambiamos a vmin para una reducción proporcional */
        width: 70%;
        max-height: 7vmin;
        /* Altura máxima ajustada */
    }
}