.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}
.fondoHeader {
    width: 100%;
    height: 4.5em;
    background: conic-gradient(from 180deg at 50% 50%, #FF8A00 0deg, rgba(193, 64, 239, 0.96) 228.75deg, #FF8A00 360deg);
    border-radius: 23px;
}

.tituloHeader {
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 100;
    font-size: 5vmin;
    line-height: 8vmin;
    color: #000000;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.letraHeader {
    font-size: 7vmin;
}


